.logo {
    position: absolute;
    width: 276px;
    height: 287px;
    left: 15px;
    top: 23px;
    border-radius: 37px;
}

.home{
    position: absolute;
    width: 182px;
    height: 75px;
    left: 427px;
    top: 107px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
}

.products {
    position: absolute;
    width: 324px;
    height: 75px;
    left: 662px;
    top: 107px;
    font-size: 64px;
    line-height: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.contact-us {
    position: absolute;
    width: 381px;
    height: 75px;
    left: 1038px;
    top: 107px;
    font-size: 60px;
    line-height: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.buy {
    position: absolute;
    width: 621px;
    height: 150px;
    left: 135px;
    top: 570px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    margin-top: 10px;
}

.button {
    position: absolute;
    width: 325px;
    height: 83px;
    left: 419px;
    top: 645px;
    background: #847EBD ;
    border-radius: 100px;
    font-size: 64px;
    cursor: pointer;
}